<h1><strong>Wprowadz informacje o pizzy</strong></h1>
<div class="form-group">
    <label for="pizzaNameInput">Nazwa pizzy</label> <input
        type="text" name="pizzaName" class="form-control" id="pizzaNameInput" placeholder="Nazwa pizzy" ng-model="controller.selectedItem.name" required/>

    <div class="alert alert-danger fade in" ng-show="pizzaInfo.pizzaName.$error.required && pizzaInfo.pizzaName.$touched">
        <a href="" class="close" data-dismiss="alert">&times;</a>
        <strong>Błąd</strong>
        <span>Proszę wpisać nazwę pizzy.</span>
    </div>
</div>

<div class="form-group">
    <label>Rodzaj ciasta do pizzy</label>

    <div class="radio">
        <label><input type="radio" name="doughTypeRadio" ng-model="controller.selectedItem.doughTypes" value="grube" ng-required="!controller.selectedItem.doughTypes">Grube</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="doughTypeRadio" ng-model="controller.selectedItem.doughTypes" value="cienkie" ng-required="!controller.selectedItem.doughTypes">Cienkie</label>
    </div>

    <div class="alert alert-danger fade in" ng-show="pizzaInfo.doughTypeRadio.$error.required && pizzaInfo.doughTypeRadio.$touched">
        <a href="" class="close" data-dismiss="alert">&times;</a>
        <strong>Błąd</strong>
        <span>Proszę wybrać rodzaj ciasta.</span>
    </div>
</div>

<div class="form-group">
    <label>Rozmiar pizzy</label>

    <div class="radio">
        <label><input type="radio" name="pizzaSizeRadio" ng-model="controller.selectedItem.size" value="mala" ng-required="!controller.selectedItem.size">Mala</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="pizzaSizeRadio" ng-model="controller.selectedItem.size" value="duza" ng-required="!controller.selectedItem.size">Duza</label>
    </div>

    <div class="alert alert-danger fade in" ng-show="pizzaInfo.pizzaSizeRadio.$error.required && pizzaInfo.pizzaSizeRadio.$touched">
        <a href="" class="close" data-dismiss="alert">&times;</a>
        <strong>Błąd</strong>
        <span>Proszę wybrać rozmiar pizzy.</span>
    </div>
</div>

<div class="form-group">
    <label>Skladniki pizzy</label>
        <div class="span3" ng-repeat="ingredient in allIngredients">

            <input type="checkbox" ng-click="controller.ingredientsTouched=true" name="ingredientCheckBox" checklist-model="controller.selectedItem.ingredients" checklist-value="ingredient">
            {{ingredient.name}}

        </div>
    <div class="alert alert-danger fade in" ng-show="controller.selectedItem.ingredients.length==0 && controller.ingredientsTouched==true">
        <a href="" class="close" data-dismiss="alert">&times;</a>
        <strong>Błąd</strong>
        <span>Proszę wybrać przynajmniej jeden składnik.</span>
    </div>
</div>

<div class="form-group">
    <label for="pizzaDescriptionInput">Opis pizzy</label> <textarea
        type="text" ng-model="controller.selectedItem.description" class="form-control" id="pizzaDescriptionInput"
        placeholder="Opis pizzy"></textarea>
</div>