<h1><strong>Wprowadz informacje o sosie</strong></h1>

<div class="form-group">
    <label for="sauceNameInput">Nazwa sosu</label>
    <input type="text" name="sauceName" class="form-control" id="sauceNameInput" placeholder="Nazwa sosu" ng-model="controller.selectedItem.name" ng-maxlength="30" required/>

    <!--<div class="alert alert-danger fade in" ng-show="sauceInfo.sauceName.$error.required && sauceInfo.sauceName.$touched">-->
        <!--<a href="" class="close" data-dismiss="alert">&times;</a>-->
        <!--<strong>Błąd</strong>-->
        <!--<span>Proszę wpisać nazwę.</span>-->
    <!--</div>-->

    <div ng-show="sauceInfo.sauceName.$touched">
        <div class="alert alert-danger fade in" ng-show="sauceInfo.sauceName.$error.required">
            <a href="" class="close" data-dismiss="alert">&times;</a>
            <strong>Błąd</strong>
            <span>Proszę wpisać nazwę sosu.</span>
        </div>

        <div class="alert alert-danger fade in" ng-show="sauceInfo.sauceName.$error.maxlength">
            <a href="" class="close" data-dismiss="alert">&times;</a>
            <strong>Błąd</strong>
            <span>Nazwa może zawierać maksymalnie 30 znaków.</span>
        </div>
    </div>
</div>

<div class="form-group">
    <label>Przyprawy do sosu</label>
    <div class="span3" ng-repeat="seasoning in allSeasonings">

        <input type="checkbox" ng-click="controller.seasoningsTouched=true" name="seasoningCheckBox" checklist-model="controller.selectedItem.seasonings" checklist-value="seasoning">
        {{seasoning.name}}

    </div>
    <div class="alert alert-danger fade in" ng-show="controller.selectedItem.seasonings.length==0 && controller.seasoningsTouched==true">
        <a href="" class="close" data-dismiss="alert">&times;</a>
        <strong>Błąd</strong>
        <span>Proszę wybrać przynajmniej jedną przyprawę.</span>
    </div>
</div>

<div class="form-group">
    <label for="description">Opis sosu</label> <textarea
        type="text" name="description" class="form-control" id="description" placeholder="Opis sosu" ng-model="controller.selectedItem.description" ng-maxlength="255" required></textarea>

    <div ng-show="sauceInfo.description.$touched">
        <div class="alert alert-danger fade in" ng-show="sauceInfo.description.$error.required">
            <a href="" class="close" data-dismiss="alert">&times;</a>
            <strong>Błąd</strong>
            <span>Proszę wpisać opis sosu.</span>
        </div>

        <div class="alert alert-danger fade in" ng-show="sauceInfo.description.$error.maxlength">
            <a href="" class="close" data-dismiss="alert">&times;</a>
            <strong>Błąd</strong>
            <span>Nazwa może zawierać maksymalnie 255 znaków.</span>
        </div>
    </div>
</div>